/out/production/Advent2022/input.txt
/out/production/Advent2022/DayOne.class
/Advent2022.iml
/out/production/Advent2022/DayTwo.class
/Day 1/input.txt
/Day 2/input.txt
/Day 3/input.txt
/Day 4/input.txt
/Day 5/input.txt
/Day 6/input.txt
/Day 7/input.txt
/Day 8/input.txt